:root {
  /* --main-bk-color: hsl(147, 31%, 43%); */
  --blue: rgb(97, 175, 239);
  --edit-icon-color: var(--main-text-color);
  --edit-icon-color-eraser: rgb(200, 100, 100);
  --green: rgb(152, 195, 121);
  --main-bk-color: rgb(40, 44, 52);
  --main-bk-color2: rgb(50, 54, 62);
  --main-text-color: rgb(171, 178, 191);
  --red: rgb(224, 108, 117);
  --delete-icon-color: var(--main-text-color);
  --delete-icon-color2: var(--main-bk-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-bk-color);
  /* font-family: 'Concert One', cursive; */
  /* font-family: 'Noto Sans TC', sans-serif;  --400 and 700-- */
  font-family: "Noto Sans TC", sans-serif;
  position: relative;

  min-width: 320px;
}

h1 {
  /* margin: 0 30px; */
  font-family: "Concert One", cursive;
  display: flex;
  align-self: center;
}

header {
  display: flex;
  justify-content: space-between;

  background-color: var(--main-bk-color2);
  color: var(--green);
  box-shadow: 0 0px 2px rgb(10, 10, 10);
  text-shadow: 0 0 3px black;

  height: 46px;
  position: relative;
}

hr {
  border: 1px solid var(--main-text-color);
}

main {
  padding: 0 3px;
}

nav {
  width: 180px;

  padding: 3px;
  /* padding-right: 1em; */
  position: absolute;
  top: 47px;

  background-color: var(--main-text-color);
  color: var(--main-bk-color);

  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

nav > div,
nav > div > div {
  /* padding-left: 0.5em; */
  border-radius: 5px;
}

nav hr {
  border: 1px solid var(--main-bk-color2);
}

#hamburger {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;

  cursor: pointer;
}

#icon {
  justify-content: center;
  align-self: center;
  font-family: "Concert One", cursive;
  font-size: x-large;
  background-color: var(--main-text-color);
  color: var(--green);
  /* text-shadow: -5px -5px 8px black, -5px 5px 8px black, 5px -5px 8px black,
  5px 5px 6px black; */
  text-shadow: 0 0 5px black, 0 0 5px black;
  /* padding: 0 50px; */
  width: 30px;
  display: flex;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 20px;
  height: 1.2em;

  /* This turns off the icon -- Not sure if I want in on mobile layout - it takes up too much room */
  display: none;
}

#main-header-container {
  display: flex;
}

#projects {
  font-weight: bold;
  padding-left: 3px;
}

#projects div {
  font-weight: normal;
}

#add-project,
.task-set {
  /* color: red; */
  /* padding: 0 1em; */
  cursor: pointer;
}

#add-project:hover,
.task-set:hover {
  color: var(--green);
  background-color: var(--main-bk-color2);
}
.nav-item-padding {
  padding: 2px 10px;
}
.add-task {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;

  /* This margin is meant for the header - might need to separate the two later */
  padding: 0 10px;

  cursor: pointer;
  text-shadow: 0 0 3px black;
  color: var(--blue);
}

.add-task-icon {
  margin-right: 10px;
  font-size: xx-large;
}

form {
  /* box-shadow: 0 0 10px var(--green); */
  box-shadow: 0 0 10px black;
  padding: 5px;
  /* color: var(--blue); */
  color: var(--main-text-color);
  /* color: black; */
  background-color: var(--main-bk-color2);

  position: absolute;

  /* transition: all 1.5s cubic-bezier(0.77, 0.2, 0.05, 1); */
  /* transition: all 0.5s ease-in-out; */
  /* transform: translate(0, 0); */
  /* transform: none; */
  /* backface-visibility: hidden; */
  top: 4em;
  left: 0;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}
main {
  position: relative;
}

form input {
  background-color: var(--main-bk-color);
  /* color: var(--main-text-color); */
  color: var(--blue);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--main-text-color);
  border-radius: 5px;
  padding: 3px 5px;
}

form label {
  padding-left: 3px;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-row h2 {
  display: flex;
  justify-content: center;
  color: var(--green);
}

#form-row-urgent,
#form-row-important {
  /* make sure this appears below .form-row in css */
  flex-direction: row;
  align-items: center;
}
#form-row-urgent input,
#form-row-important input {
  position: relative;
  top: 1px;
}

#form-row-urgent input {
  margin-left: 35px;
}
#form-row-important input {
  margin-left: 10px;
}

form input {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
}

form input[type="submit"] {
  /* color: var(--main-bk-color); */
  color: black;

  background-color: var(--green);
  /* background: linear-gradient(0deg, var(--green), var(--blue), var(--green)); */
  width: 60px;
  border: none;
  box-shadow: 0 0 8px black;
}

form input[type="submit"]:active {
  box-shadow: none;
}

#form-row-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px 8px;
  margin: 15px 0 10px 0;
}

.delete-icon {
  display: flex;
  padding: 5px 2px 5px 3px;
  position: relative;
  /* background-color: blue; */
}

.delete1 {
  /*   left: 30px; */
  width: 18px;
  height: 2px;
  background-color: var(--delete-icon-color);
  display: inline-block;
  position: relative;
  top: -2px;
  /* left: -5px; */

  /*   transform: rotate(-60deg); */
}

.delete1::before {
  content: "";
  display: block;
  background-color: var(--delete-icon-color);
  position: relative;
  top: -3px;
  left: 7px;

  width: 4px;
  height: 2px;

  /*   this makes a triangle */
  /*   border-top: 3px solid transparent; */
  /*   border-bottom: 3px solid transparent;  */
  /*   border-right: 4px solid var(--edit-icon-color);  */
}

.delete1::after {
  content: "";
  display: block;
  position: relative;
  left: 1px;
  top: 1px;

  width: 16px;
  height: 14px;
  background-color: var(--delete-icon-color);

  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.delete2 {
  /*   left: 30px; */
  width: 1px;
  height: 10px;
  background-color: var(--delete-icon-color2);
  /*   background-color: red; */
  display: inline-block;
  position: relative;

  left: -9px;
  top: 3px;
}

.delete2::before {
  content: "";
  display: block;
  background-color: var(--delete-icon-color2);
  position: relative;
  top: 0px;
  left: -4px;

  width: 1px;
  height: 10px;
}

.delete2::after {
  content: "";
  display: block;
  position: relative;
  left: 4px;
  top: -100%;

  width: 1px;
  height: 10px;
  background-color: var(--delete-icon-color2);
}

.edit-icon {
  display: flex;
  padding: 6px 4px;
  cursor: pointer;
}

.edit-inner {
  top: 1px;
  width: 8px;
  height: 6px;
  background-color: var(--edit-icon-color);
  display: inline-block;
  position: relative;

  transform: rotate(-60deg);
}

.edit-inner::before {
  content: "";
  display: block;
  position: relative;
  left: -5px;

  width: 0;
  height: 0;

  /*   this makes a triangle */
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 4px solid var(--edit-icon-color);
}

.edit-inner::after {
  content: "";
  display: block;
  position: relative;
  left: 9px;
  top: -100%;

  width: 4px;
  height: 6px;
  background-color: var(--edit-icon-color-eraser);
}

.hamburger-line {
  position: relative;
  width: 20px;
  height: 4px;
  background-color: var(--main-text-color);
  margin: 2px 0;
}

.nav-is-left {
  transform: translate(-100%, 0);
}
.form-is-hidden {
  visibility: hidden;
}

.task {
  display: flex;
  justify-content: space-between;
}

.task-first-section,
.task-last-section {
  display: flex;
  align-items: center;
}

.task-first-section > *,
.task-last-section > * {
  margin: 3px;
}

@media only screen and (min-width: 320px) {
  /* for desktop layout changes */
  body {
    /* color: blue; */
  }
}
@media only screen and (min-width: 520px) {
  form {
    width: 500px;
  }
}
